#footer{
    position: fixed;
    bottom: 0%;
    color: beige;
    background-color: black;
    text-align: center;
    width: 100%;
    line-height: 3;
    font-size: 18px;
}
body{
    background-size: cover;
}
#header{
    width: 100%;
    font-size: 25px;
    color: black;
    font-style: italic;
    margin-top: 0%;
    line-height: 2  ;
}
#label{
    color: yellow;
    font-weight: bold;
}
canvas{
    border: 5px solid blue;
    box-shadow: 5px 5px 30px lightblue;
    border-radius: 20px;
}